/*
 Theme Name:   Sailing to Phillies
 Theme URI:    http://sailing.wordpress.koodimonni.fi;
 Description:  Arcade-basic child theme made for Sailing.
 Author:       Koodimonni
 Author URI:   http://koodimonni.fi
 Template:     arcade-basic
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, sass
*/

@import url("../../arcade-basic/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */

#footer #koodimonni_logo {
	padding-top: 10px; 
	height: 50px;
}

#footer .credit-link {
	margin: 10px;
}

#footer .pull-left {
	padding-top: 21px;
}